<div class="container">
  <div class="card">
    <div class="card-img-top image"></div>
    <div class="card-body">
      <form (submit)="getWeather($event, cityName)" class="text-center">
        <div class="form-group">
          <label for='option'>Enter your message</label>
          <br>
          <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write your message"></textarea>
          <br>
          <button type="submit" class='btn btn-info'>Send</button>
          <br>
          <br>
          <div class="underline"></div>
          <ul>
            <li><a href="https://vk.com/shine_a_light_lis"><i class="fab fa-vk"></i></a></li>
            <li><a href="https://www.linkedin.com/in/dmitry-liskovich-175470174/"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/DmitryLiskovich"><i class="fab fa-github-alt"></i></a></li>
            <li><i class="fab fa-skype"></i></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>