.image{
  height: 53vh;
  background: url('https://source.unsplash.com/1600x900/daily') center center / cover;
}

.underline{
  background: lightgray;
  border-radius: 50%;
  width: 80%;
  height: 2px;
  border: solid 1px lightgray;
  margin: auto;
}

ul{
  color: black;
  font-style: none;
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

li{
  text-align: center;
  margin-top: 40px;
  color: black;
  font-style: none;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  padding: 0;
  color: gray;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  &:hover{
    color: lightblue;
  }
}

a{
  color: grey;
  transition: all ease-in-out 0.5s;
  &:hover{
    color: lightblue;
  }
}